html {
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bitter', serif;
}

p {
    font-family: 'PT Serif', serif;
}

h1,
h2,
h3,
h4,
div.box_1 a {
    text-align: center;
}

html,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
}


/*-----------------------------------------------------*/
header {
    height: 120px;
}

div.head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: inherit;
}

div.head div.logo {
    border: 3px solid #94ACBC;
    border-radius: 1em;
}

div.head div.login {
    border: 3px solid #3ADE64;
    border-radius: 1em;
}

div.head a img {
    height: 50px;
    border-radius: 1em;
}

/*-----------------------------------------------------*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: #517592;
}

div.nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    width: 100%;
    background-color: #D3D4DC;
    z-index: 1;
}

nav ul.hide {
    display: none;
    justify-content: center;
    align-items: center;
}

nav ul#clickMenu a {
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    margin: .5em;
    color: black;
}

ul#clickMenu a:link {
    color: black;
}

ul#clickMenu a:visited {
    color: #517592;
}

nav button {
    padding: .2rem;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    width: 100%;
    height: 2em;
}

div.nav li.logout img {
    height: 50px;
}

/*-----------------------------------------------------*/
div.hero,
div.hero picture img {
    width: 100%;
}

/*-----------------------------------------------------*/
div.page_title {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 8em;
}

div.page_title h1 {
    margin: 0 .5em;
}


/*-----------------------------------------------------*/
div.box_1 {
    margin: 3em 2em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 5px solid #517592;
    border-radius: 1em;
    box-shadow: 0px 0px 15px #ACBDCC;
}

div.box_1 img {
    width: 150px;
}

div.box_1 a {
    text-decoration: none;
    color: black;
}

div.box_1 a:active {
    background-color: #D3D4DC;
}

div.box_1 h4,
div.info_text {
    line-height: 1.5;
}

div.info {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 3em 2em;
}

div.info_header {
    display: flex;
    align-items: center;
    height: 5em;
}

picture.info_image img {
    max-width: 350px;
}

/*-----------------------------------------------------*/
footer {
    background-color: #94ACBC;
    padding: 2em;
}

div#rights {
    text-align: center;
}
